# Auto detect text files and perform LF normalization
* text=auto
*.shader linguist-vendored
*.hlsl linguist-vendored
*.cginc linguist-vendored
Packages/** linguist-vendored
Assets/TextMesh Pro/** linguist-vendored
Assets/**/Shaders/** linguist-vendored
